
<div class="col-sm-12 col-lg-12 news-container" ng-init="onInit()">
    <div>
        <section>
            <div class="btn-grp row">
                <!-- Menu for Phones -->
                <div class="media hidden-md hidden-lg" ng-if="newsType=='all'">
                    <div class="media-body">
                        <a class="btn btn-filter active col-xs-12 " ng-click="open()" ng-show="widget.selectedCatgory=='all'">
                            <span class="betfont icon-10px icon-caretdownthin right-aligned-icon"></span><span class="btn-block text-left"><span class="betfont icon-all"></span><span class="filter-label-txt" translate="txtCommonAll">All</span></span>
                        </a>
                        <a class="btn btn-filter active col-xs-12 " ng-click="open()" ng-repeat="category in widget.catgories" ng-if="category.hashTag==widget.selectedCatgory">
                            <span class="betfont icon-10px icon-caretdownthin right-aligned-icon"></span><span class="btn-block text-left"><span class="betfont icon-{{category.name}}"></span><span class="filter-label-txt">{{category.index | quicki18n : 'prodNames' | translate}}</span></span>
                        </a>
                    </div>
                    <div class="media-body">
                        <a class="btn btn-filter col-xs-12 " ng-click="openDate()">
                            <span class="btn-block text-center"><span class="right-aligned-icon betfont icon-10px icon-caretdownthin"></span><span class="filter-label-txt">{{ options.selected.month | quicki18n : 'monthNames' | translate}} {{ options.selected.val | date : 'yyyy'}}</span> </span>
                        </a>
                    </div>
                </div>
                <div class="media hidden-md hidden-lg" ng-if="newsType!='all'">
                    <div class="media-body">
                        <a class="btn btn-filter active col-xs-12 " ng-click="open()" ng-repeat="category in widget.catgories" ng-if="category.uniqueKey==widget.selectedCatgory">
                            <span class="betfont icon-10px icon-caretdownthin right-aligned-icon"></span><span class="btn-block text-left"><span class="betfont icon-{{category.uniqueKey}}"></span><span class="filter-label-txt">{{ category.resource | getResource : 'DisplayName'}}</span></span>
                        </a>
                    </div>
                </div>
                <!-- /Menu for Phones -->
                <!-- Menu for Tablets -->
                <div class="media hidden-xs hidden-sm" ng-if="newsType=='all'">
                    <a class="btn btn-filter col-md-2" ng-class="{ active: widget.selectedCatgory == 'all'}" ng-click="switchCatgory('all', true)">
                        <span class="btn-block text-left "><span class="betfont icon-all "></span> <span class="filter-label-txt" translate="txtCommonAll">All</span></span>
                    </a>
                    <a class="btn btn-filter col-md-3" ng-class="{ active: widget.selectedCatgory == category.hashTag}" ng-repeat="category in widget.catgories" ng-if="$index < 1" ng-click="switchCatgory(category.hashTag, true)">
                        <span class="btn-block text-left "><span class="betfont icon-{{category.name}} "></span> <span class="filter-label-txt">{{category.index | quicki18n : 'prodNames' | translate}}</span></span>
                    </a>

                    <a class="btn btn-filter col-md-3" ng-click="open()">
                        <span class="btn-block text-left "> <span class="betfont icon-caretdownthin right-aligned-icon"></span><span class="filter-label-txt" translate="txtCommonMore">MORE</span></span>

                    </a>
                    <a class="btn btn-filter  col-xs-4 " ng-click="openDate()">
                        <span class="btn-block text-center"><span class="right-aligned-icon betfont icon-10px icon-caretdownthin"></span><span class="filter-label-txt">{{ options.selected.month | quicki18n : 'monthNames' | translate}} {{ options.selected.val | date : 'yyyy'}}</span> </span>
                    </a>
                </div>
                <div class="media hidden-xs hidden-sm" ng-if="newsType!='all'">
                    <a class="btn btn-filter col-md-3" ng-class="{ active: widget.selectedCatgory == category.uniqueKey}" ng-repeat="category in widget.catgories" ng-if="$index < 3" ng-click="switchCatgory(category.uniqueKey, true)">
                        <span class="btn-block text-left "><span class="betfont icon-{{category.uniqueKey}} "></span> <span class="filter-label-txt">{{ category.resource | getResource : 'DisplayName'}}</span></span>
                    </a>
                    <a class="btn btn-filter col-md-3" ng-click="open()" ng-if="widget.catgories.length > 3">
                        <span class="btn-block text-left "> <span class="betfont icon-caretdownthin right-aligned-icon"></span><span class="filter-label-txt" translate="txtCommonMore">MORE</span></span>
                    </a>
                </div>
                <!--/Menu for Tablets -->
            </div>
            <div id="news" ng-class="{ 'load-spinner' : ajaxCompleted == false }">
                <div class="news-content" ng-repeat="rowdata in widget.reuslt">
                    <div class="media headline">
                        <div class="media-left media-middle">
                            <a ng-href="/{{global.lan}}/news{{::rowdata.url | lowercase}}"> <img class="media-object" ng-src="{{::rowdata.imgUrl}}" alt="{{::rowdata.title}}" style="width:200px"> </a>
                        </div>
                        <div class="media-body media-middle">
                            <div class="media-heading">

                                <a ng-href="/{{global.lan}}/news{{::rowdata.url | lowercase}}">{{::rowdata.title}}</a>
                                <h6>{{::rowdata.displaydate}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="media-news-excerpt">
                        <p>{{::rowdata.description}}</p>
                        <a class="grey-u-anchor" ng-href="/{{global.lan}}/news{{::rowdata.url | lowercase}}" translate="txtNewsContinueReading">Continue reading . .</a>
                    </div>
                </div>
            </div>
            <button type="button" class="btn bet-btn btn-lightgray-sm " ng-if="widget.month == 0 && newsType=='all'" ng-click="loadMore()" translate="txtNewsLoadMoreItems">LOAD MORE ITEMS..</button>
            <br>
            <br>
        </section>
    </div>
</div>
